<div class="container"> 
    <div class="col-xs-12">
        <div class="card">
            <div class="row card-label">
                <div class="col-11">
                    <h4>{{currAccount.fName}} {{currAccount.lName}}</h4>
                </div>

                <div class="col-1">
                    <p>{{currAccount.sex}}</p>
                </div>
            </div>
        <div class="card-body">
            <h5>{{currAccount.DOB}}</h5>
            <p>{{currAccount.email}}</p>
            <p><b>Lives at:</b> {{currAccount.address}}</p>
            <p><b>Job Title:</b> {{currAccount.jobTitle}}</p>
            <a 
            style="cursor: pointer;">Edit Information</a>
        </div>
        
        </div>

    </div>
</div>