<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-4">
                <app-edit-preview></app-edit-preview>
            </div>
            <div class="col-8">
                <app-edit-details></app-edit-details>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <app-edit-bio></app-edit-bio>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <app-edit-schooling
                ></app-edit-schooling>
            </div>

        </div>
    </div>
</div>