
<div>
    <div class="row card">
        <div class="card-body">
            <div class="col-1">
                <button 
                class="btn btn-danger"
                (click)="deleteDegree()"><span>&minus</span></button>
            </div>
            <div class="col-11">
                <h6>
                    ({{currDegree.degreeName}}) {{currDegree.programName}} | {{currDegree.yearStarted}} - {{currDegree.yearGraduate}}
                </h6>
            </div>
        </div>        
    </div>
</div>